# Ollama URL for the backend to connect
# The path '/ollama' will be redirected to the specified backend URL
OLLAMA_BASE_URL='http://localhost:11434'

OPENAI_API_BASE_URL=''
OPENAI_API_KEY=''

# AUTOMATIC1111_BASE_URL="http://localhost:7860"

# For production, you should only need one host as
# fastapi serves the svelte-kit built frontend and backend from the same host and port.
# To test with CORS locally, you can set something like
# CORS_ALLOW_ORIGIN='http://localhost:5173;http://localhost:8080'
CORS_ALLOW_ORIGIN='*'

# For production you should set this to match the proxy configuration (127.0.0.1)
FORWARDED_ALLOW_IPS='*'

# DO NOT TRACK
SCARF_NO_ANALYTICS=true
DO_NOT_TRACK=true
ANONYMIZED_TELEMETRY=false

# VECTOR DB
#VECTOR_DB=chroma

# Use remote/cloud Chroma
# CHROMA_HTTP_HOST=chroma.mycompany.com
# CHROMA_HTTP_PORT=443
# CHROMA_HTTP_SSL=true

# Optional: tenant/database namespace
# CHROMA_TENANT=default_tenant
# CHROMA_DATABASE=open_webui

# Optional: pass headers to Chroma (comma-separated header=value)
# CHROMA_HTTP_HEADERS=Authorization=Bearer YOUR_TOKEN

# Optional: Chroma client auth settings
# CHROMA_CLIENT_AUTH_PROVIDER=chromadb.auth.basic_authn.BasicAuthClientProvider
# CHROMA_CLIENT_AUTH_CREDENTIALS=username:password